*{
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    height: 200px;
    color: #fed2d1;
    justify-content: center;
    align-items: center;
    font-size: 400%;
}
.questions {
    color: #fed2d1;
    text-align: center;
    margin: 20px;
}

/* navbar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fed2d1;
    color: black;
    font-family: Arial, sans-serif;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    position: relative;
    margin-right: 20px;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links ul li a:hover {
    background-color: #d8a7a7;
}

/* Sous-menu (déroulant) */
.nav-links ul li.deroulant .sous-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fed2d1;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 1000;
}
.nav-links ul li.deroulant img {
    width: 10px;
    height: 10px;
}
.nav-links ul li.deroulant .sous-menu li {
    margin: 0;
}

.nav-links ul li.deroulant .sous-menu li a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
}

.nav-links ul li.deroulant .sous-menu li a:hover {
    background-color: #d8a7a7;
}

/* Afficher le sous-menu au survol */
.nav-links ul li.deroulant:hover .sous-menu {
    display: block;
}

/* Bouton Changer Thème */
.switch-theme {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    background-color:#efbfbf;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.switch-theme:hover {
    background-color: #d8a7a7;
}

@media screen and (max-width: 600px){
    .nav-links ul {
        display :flex;
        flex-direction: column;
    }
}

#chaussons {
    width: 100%;
    height:auto;
    max-height: 400px;
    object-fit: cover;
}
#aurelie {
    width: 100%;
    height:auto;
    max-height: 800px;
    object-fit: cover;
}
#sous-titre  {
    height: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
}

h3 {
    margin: 15px;
}

.texte{
    max-width: 95%;
    height: auto;
    text-align: justify;
    margin: 30px;
}

#autre{
    text-align: center;
}

.card-image{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.card {
    width: 250px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block; 
    margin: 40px;
    text-align: center;
    color :black;
}
.decouverte {
    text-align: center; 
}


.card-content {
    padding: 15px;
}

.card-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: grey;
    background-color: #fed2d1;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #ffbaba;
}


.infos {
    display :flex;
    flex-direction: column;
}
.propos{
    font-weight: bold;
}

.degrade {
    height: 80px;
    background-image: linear-gradient(to bottom, white,#fed2d1);
}
footer {
    background-color: #fed2d1;
    padding: 20px 40px;
}

.footer-contenu {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.about h3 {
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.about li {
    margin: 10px 0;
}

.footerbot {
    border-top: 1px solid black;
    padding-top: 30px !important;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.social-links img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.2s ease;
}

.social-links a:hover {
    transform: scale(1.2);
}

.logo img {
    max-width: 100px;
    margin-bottom: 10px;
}

.logo p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

@media (max-width: 1200px) {
    .nav-links ul li a {
        font-size: 1.2rem;  
    }
}


@media (max-width: 900px) {

    .nav-links ul li a {
        font-size: 1.3rem;  
    }
}

/*mode nuit*/

body.dark{
    background-color:#1e1e1e;
    color : #ddd
}

body.dark h1{
    color:#7a526b ;
}

body.dark .questions{
    color:#7a526b ;
}

body.dark .navBar{
    background-color:#7a526b ;
}
body.dark .nav-links ul li a{
    color:#1e1e1e;
}


body.dark .nav-links ul li a:hover {
    background-color: #5d3e50;
}

/* Sous-menu (déroulant) */
body.dark .nav-links ul li.deroulant .sous-menu {
    background-color: #7a526b;
}

body.dark .card {
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: #ddd;
}
body.dark .switch-theme {
    color: #1e1e1e;
    background-color:#7a526b;
}
body.dark .switch-theme:hover {
    background-color: #5d3e50;
}


body.dark .card-button {
    color: #ddd;
    background-color: #7a526b;
}

body.dark .card-button:hover {
    background-color: #5d3e50;
}

body.dark .degrade {
    height: 80px;
    background-image: linear-gradient(to bottom, #1e1e1e,#7a526b);
}
body.dark footer{
    background-color: #7a526b;
}